{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Add OAuth2 client</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			<form method="post" accept-charset="utf-8" autocomplete="off">
				<div class="form-group">
					<b>{{ form.name.label }}</b>
					{{ form.name(class="form-control", value=name) }}
				</div>
				<div class="form-group">
					<b>{{ form.client_id.label }}</b>
					{{ form.client_id(class="form-control", value=client_id) }}
				</div>
				<div class="form-group">
					<b>{{ form.client_secret.label }}</b>
					{{ form.client_secret(class="form-control", value=client_secret) }}
				</div>
				<div class="form-group">
					<b>{{ form.access_token_url.label }}</b>
					{{ form.access_token_url(class="form-control", value=access_token_url) }}
				</div>
				<div class="form-group">
					<b>{{ form.authorize_url.label }}</b>
					{{ form.authorize_url(class="form-control", value=authorize_url) }}
				</div>
				<div class="form-group">
					<b>{{ form.api_base_url.label }}</b>
					{{ form.api_base_url(class="form-control", value=api_base_url) }}
				</div>
				<div class="form-group">
					<b>{{ form.admin_role.label }}</b>
					{{ form.admin_role(class="form-control", value=admin_role) }}
				</div>
				<div class="form-group">
					<b>{{ form.user_role.label }}</b>
					{{ form.user_role(class="form-control", value=user_role) }}
				</div>
				<div class="row">
					<div class="col">
						{{ form.submit(class="btn btn-md btn-primary btn-outlined") }}
					</div>
				</div>
				{{ form.nonce() }}
			</form>
		</div>
	</div>
</div>
{% endblock %}